body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#all-recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#single-recipe {
  padding: 20px;
}

#img {
  border-radius: 13px;
  border-color: rgb(222, 255, 253);
  border-style: solid;
  height: 270px;
  width: 300px;
}

#recipe-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
