body {
  font-family: sans-serif;
}

div a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

div a:hover {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: whitesmoke;
}

nav a:hover {
  color: #e63946;
  text-decoration: none;
  /* font-weight: bold; */
}

form div {
  margin: 1em;
  display: inline-block;
}

#all-recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#single-recipe {
  padding: 20px;
}

#img {
  border-radius: 13px;
  border-color: rgb(222, 255, 253);
  border-style: solid;
  height: 270px;
  width: 300px;
}

#recipe-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*
#imageUpload {
  ="position-relative"
} */
.image {
  width: 33.25rem;
  height: 33.25rem;
}

.filter {
  filter: brightness(70%);
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .image {
    width: 10.6875rem;
    height: 10.6875rem;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .image {
    width: 10.6875rem;
    height: 10.6875rem;
  }
}

#flex {
  display: flex;
  flex-direction: column;
}

#channel-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}

.all-channels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-2 {
  max-width: 678px;
  max-height: 70px;
}

footer {
  background-color: #e63946;
}

.cursor:hover {
  cursor: pointer;
}
